
/* ------ Form ------ */

.form--container {
  width: min(768px, 100%);
  height: fit-content;
  max-height: 90%;
  padding: 0 1rem;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 20;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: var(--marginMobile);
  margin-top: 2rem;
}

.details {
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.detail {
  font-size: 1.2rem;
  font-weight: 500;
  /* border: 2px solid var(--text); */
  background: var(--mid);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.navigation--buttons {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  z-index: 10;
}

.navigation--buttons > div {
  flex-grow: 1;
}

.navigation--buttons svg {
  transform: translateY(2px);
  font-size: 2rem;
}

.navigation--buttons button {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  background: none;
  transition: 400ms;
}

#next--button {
  /* justify-content: flex-end; */
  animation: slide-from-right 800ms cubic-bezier(0.65, 0, 0.35, 1) both;
 }

 @media (min-width: 1024px) {
  .navigation--buttons button:hover {
    color: var(--mid);
    transition: 200ms;
  }
 }


/* ------ FormType ------ */

form h1 {
  font-size: clamp(1rem, 5vw, 1.7rem);
}

.form--type--selector {
  position: relative;
  z-index: 10;
  width: 100%;
  background: none;
  border: 2px solid var(--mid);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: lowercase;
  text-align: left;
}

.options {
  width: 95%;
  margin: auto;
  list-style: none;
  /* text-align: center; */
  background: var(--mid);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* padding-bottom: 2px; */
  max-height: 0px;
  transition: max-height ease-out 300ms;
  overflow: scroll;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: relative;
  z-index: 20;
}

.options.show {
  max-height: 230px;
}

.options > li {
  position: relative;
  z-index: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: lowercase;
  border-top: 2px solid var(--light);
  transition: 300ms;
  visibility: none;
  opacity: 0;
  transform: translateY(-100%);
}

.options.show > li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

.options > li:last-of-type {
  border-bottom: 2px solid var(--light);
}

.options > li:hover {
  background: var(--light);
}

input {
  all: unset;
  width: 100%;
}

.input {
  display: flex;
  background: none;
  border: 2px solid var(--mid);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1rem;
}

.add--details {
  border: 2px solid rgb(87, 202, 110);
  border-radius: 5px;
  background: rgb(87, 202, 110, 0.7);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 0.5rem;
  margin-left: 1rem;
}

.add--details:hover {
  background: rgb(87, 202, 110);
  transition: 300ms;
}

.add--details > div {
  width: 15px;
  height: 3px;
  background-color: var(--text);
}

.add--details > div::after {
  content: "";
  display: block;
  width: 15px;
  height: 3px;
  background-color: var(--text);
  transform: rotate(90deg);
}

#submit--button {
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  background: none;
  border: 2px solid var(--mid);
  border-radius: 5px;
  transition: 300ms;
  animation: slide-from-right 800ms cubic-bezier(0.65, 0, 0.35, 1) both;
}

#submit--button:hover {
  background: var(--mid);
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
